body {
    font-family: Open sans, sans-serif;
    background: linear-gradient(to right, #d9a7c7, #fffcdc); 
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-jp {
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 40px 0px ;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 2px;
}

.message {
    font-size: 28px;
    color: #333;
}

.play-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-guess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guess-label {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.guess {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.btn-container {
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
}

button {
    font-size: 18px;
    min-width: 100px;
    margin: 0 10px;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
    color: #f1f1f1;
    border: none; 
}

button.submit-btn {
    background: #af7313;
}

button.reset-btn {
    background: #005887;
}

